#index {
	width: 100%;
	height: 100vh;
	background-color: $backgroundcolor;
	text-align: center;
	flex-direction: column;

	ul {
		list-style-type: none;

	}
	div {
		padding-top: 1em;
	}
	h1,h2,h3 {
		font-family: $headerfont;
	}
	h4,h5, {
		font-family: $bodyfont;
		font-style: italic;
	}
	p {
		font-family: $bodyfont;
	}
}

header {
	background-color: $divbackgroundcolor;
	margin: auto;

}

#landing-page { 
	color: #373741; 
	.typed-wrap { 
		display: block; 
		text-align: center; 
		width: auto; 
		height: auto; 
		font-size: 3em; /*centers it in the .banner*/ 
		position: absolute; 
		top: 50%; 
		left: 50%; 
		-webkit-transform: translate(-50%, -50%); 
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%, -50%); 
		h1 { 
			display: inline; 
			margin: auto; 
		}
	}
	.typed::after { 
		content: '|'; 
		display: inline; 
		-webkit-animation: blink 0.7s infinite; 
		animation: blink 0.7s infinite; 
	}
	.typed-cursor { 
		opacity: 0; 
		display: none; 
	}
	@keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	} 
}

#portfolio {
	text-align: center;
	.portfolio-header {
		border-bottom: thick #e5d6f3 solid; 
	}
	.project { 
		background-color: #e5d6f3; 
		color: #373741; 
		a{ 
			color: #373741; 
		}
	}

	.btn-default-filled, .btn-common {
		border-radius: 0.25em;
		background-color: #e5d6f3;
	}

	.btn-common {

		color: #373741 !important; 
		

		.btn-common:hover{
			color:#bf9be2 !important;
		}
	}
}

#about {
	.about-header {
		border-bottom: thick $divbackgroundcolor solid;
	}
}
#contact {
	text-align: center;

	
	.contact-header {
		border-bottom: thick $divbackgroundcolor solid;
	}

	.cv {
		
		text-align: center;

		a {
			color: $bodyfontcolor;
		}
		a:hover {
			color: $headerfontcolor;
		}
	}

	.contact-details {
		

		a {
			color: $bodyfontcolor;
			text-align: center;
		}
		a:hover {
				color: $headerfontcolor;
		}

		.email {
			padding-top: 0;
			
		}
		.phone {
			padding-bottom: 1em;
		}
	}
}

footer {
	box-sizing: border-box;
	background-color: $divbackgroundcolor;


	i {
		font-size: 1.5em;
	}

	a{
		color: $bodyfontcolor;
		text-decoration: none;
	}
	a:hover{
			color:$headerfontcolor;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;

		li {
			padding-left: 1em;
		}
	}
	
	.social{
		display: flex;
		justify-content: space-around;
		box-sizing: border-box;
		padding-top: 0;
		padding-bottom: 1em;
		text-align: center;

	}
}