#index {
	width: 100vw;
	height: 100vh;
	background-color: $white;
	text-align: center;
	flex-direction: column;

	ul {
		list-style-type: none;

	}
	div {
		border: red thin solid;
	}
}

header {
	background-color: $gray;
	margin: auto;
	
	.navbar {
		margin: auto;
		display: flex;
		justify-content: space-between;

		a {
			color: $fontcolor;
		}
		a:hover{
			color:$white;
		}
	}
	
}

#portfolio {
	text-align: center;

	.great-barrier {
		background-image: url('../images/great-barrier.jpg');
		background-size: cover;
		background-position: center;
		height: 15em;
		width: 15em;

		h4 {
			color: $white;
		}
	}
	.body-arts {
		background-image: url('../images/Creature2.jpg');
		background-size: cover;
		background-position: center;
		height: 15em;
		width: 15em;

		h4 {
			color: $white;
		}
	}
}

#contact {
	text-align: center;
	// height: 50vh;
	

	.contact-details {
		display: flex;
		// justify-content: space-between;

		.email {
			flex: 1 0 auto;
		}
		.phone {
			flex: 1 0 auto;
		}
	}
}

footer {
	box-sizing: border-box;
	background-color: $gray;

	i {
		font-size: 1.5em;
	}

	a{
		color: $fontcolor;
		text-decoration: none;
	}
	a:hover{
			color:$white;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;

		li {
			padding-left: 1em;
		}
	}
	
	.social{
		display: flex;
		// justify-content: space-between;
		box-sizing: border-box;
	}
}