#index {
	width: 100%;
	height: 100vh;
	background-color: $backgroundcolor;
	text-align: center;
	flex-direction: column;

	ul {
		list-style-type: none;

	}
	div {
		padding-top: 1em;
	}
	h1,h2,h3 {
		font-family: $headerfont;
	}
	h4,h5, {
		font-family: $bodyfont;
		font-style: italic;
	}
	p {
		font-family: $bodyfont;
	}
}

header {
	background-color: $divbackgroundcolor;
	margin: auto;

	.fa-gem {
		padding-right: 1em;
	}

	#navbar4 {

		.navbar-nav{

			.nav-item{

				.nav-link{
					a {
						color: $bodyfontcolor !important; 
						border: thin red solid;
					}
					a:hover{
						color:$headerfontcolor !important;
					}
				}


			}
		}
		
	}
	
}

#portfolio {
	text-align: center;

	.portfolio-header {
		border-bottom: thick $divbackgroundcolor solid;
	}
	

	.carousel-inner {
		height: 100vh;
	}
	
	.carousel-item {
		height: 100%;
	}

	.img1 {
		background-image: url('../images/great-barrier2.jpg');
	    height: 100%;
	    width: 100%;
	    background-repeat: no-repeat;
	    background-attachment: fixed !important;
	    background-size: cover !important;   
	    background-position: center !important;
	}

	.img2 {
		background-image: url('../images/Creature2.jpg');
	    height: 100%;
	    width: 100%;
	    background-repeat: no-repeat;
	    // background-attachment: fixed !important;
	    background-size: cover !important;   
	    background-position: center !important;
	
	}
	.img3 {
		background-image: url('../images/behance2.jpg');
	    height: 100%;
	    width: 100%;
	    background-repeat: no-repeat;
	    // background-attachment: fixed !important;
	    background-size: cover !important;   
	    background-position: center !important;
	
	}

	.carousel-content {
	    color:black;
	    display:flex;
	    align-items:center;
	}

	#text-carousel {
	  width: 100%;
	  height: auto;
	  padding: 50px;
	}
}

#about {
	.about-header {
		border-bottom: thick $divbackgroundcolor solid;
	}
}
#contact {
	text-align: center;

	
	.contact-header {
		border-bottom: thick $divbackgroundcolor solid;
	}

	.cv {
		
		text-align: center;

		a {
			color: $bodyfontcolor;
		}
		a:hover {
			color: $headerfontcolor;
		}
	}

	.contact-details {
		

		a {
			color: $bodyfontcolor;
			text-align: center;
		}
		a:hover {
				color: $headerfontcolor;
		}

		.email {
			padding-top: 0;
			
		}
		.phone {
			padding-bottom: 1em;
		}
	}
}

footer {
	box-sizing: border-box;
	background-color: $divbackgroundcolor;


	i {
		font-size: 1.5em;
	}

	a{
		color: $bodyfontcolor;
		text-decoration: none;
	}
	a:hover{
			color:$headerfontcolor;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;

		li {
			padding-left: 1em;
		}
	}
	
	.social{
		display: flex;
		justify-content: space-around;
		box-sizing: border-box;
		padding-top: 0;
		padding-bottom: 1em;
		text-align: center;

	}
}